
/* 🏠 Contenedor principal en dos columnas */
.app-container {
  display: flex; /* Poner menú y contenido en columnas */
  height: 100vh; /* Usar toda la altura disponible */
  overflow: hidden; /* 🚫 Evita el scroll extra */
}

/* 📌 Menú lateral */
.menu-sidebar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Mantiene los botones separados */
  overflow-y: auto; /* ✅ SCROLL ÚNICO para todo el menú */
  height: 100%; /* Evita que crezca demasiado */
}


/* 📌 Contenedor del contenido dinámico */
.content-area {
  flex: 1;
  padding: 20px;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 🔹 Evita el scroll grande */
  height: 100%; /* 🔹 Asegura que ocupa toda la altura sin generar scroll */
}

/* 📌 Contenedor interno para el router-outlet */
.content-wrapper {
  flex-grow: 1;
  overflow-y: auto; /* 🔹 Activa el scroll solo si el contenido lo necesita */
  height: 100%;
  padding-right: 10px; /* 🔹 Evita que el scroll tape contenido */
}

/* 🔹 Contenedor del submenú con scroll si es necesario */
.submenu-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 5px; 
  
}



/* 🔹 Botón del menú principal */
.menu-button {
  background-color: #003366; /* Azul oscuro */
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  min-width: 220px;
  border-radius: 15px;
  transition: background 0.3s ease;
  gap: 10px;
  margin-bottom: 10px; /* ✅ Agrega espacio entre los botones */
}

.menu-button:hover {
  background-color: #003366; /* Azul más oscuro en hover */
}

/* 🔹 Botón de las subopciones */
.submenu-button {
  background-color: #0068a1;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px; 
  height: 50px; 
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: normal; 
  word-wrap: break-word; 
  text-align: center;
  overflow-wrap: break-word; 
}

.submenu-button:hover {
  background-color: #0056b3;
}
.menu-title {
  color: #5e5e5e;
  font-family: "robotobold";
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-top: auto; 
  width: 100%; 
  text-align: center; 
}

#imgLogo {
  width: 95.21px;
  height: 27.13px;
  display: block; 
}
.button-container {
  display: flex;
  gap: 0px; 
  justify-content: flex-end; 
}
.interfaz-container{
  height: 90%;
}